@mixin dark-mode {
  body {
    background-color: hsl(0, 0, 18) !important;
    background-blend-mode: multiply;
  }
}

body {
  background-image: url("/images/background.webp");
  background-color: hsl(0, 0, 80) !important;
  background-size: 100%;
  image-rendering: pixelated;
  background-blend-mode: lighten;
}

body * {
  image-rendering: initial;
}

.elmfer-banner {
  display: block;
  width: 85px;
  height: 25px;
  background: url("/images/elmfer_banner8.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  image-rendering: optimizeQuality;
}

@media (max-width: 900px) {
  body {
    background-size: 900px;
  }
}

// support JS disabled environment with media query
@media (prefers-color-scheme: dark) {
  // use "light" class to avoid style conflicts in js enabled environment
  html:not(.light) {
    @include dark-mode();
  }
}

html.dark {
  @include dark-mode();
}
