.elmfer-banner {
    display: block;
    width: 85px;
    height: 25px;
    background-image: url("/images/elmfer_banner4.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
